{% extends 'base.html' %}
{# 导入宏 #}
{% from "bootstrap/pagination.html" import render_pagination %}


{% block page_body %}
    <div class="container">
    <a href="{{ url_for('.edit') }}" class="btn btn-primary">发表新文章</a>
    </div>
    <div class="container">
    {% for post in posts %}
        {#  <h2><a href="{{ url_for('.post', id = post.id) }}"></a>{{ post.title }}</h2> #}
        <h2><a href="{{ url_for('.post', id = post.id) }}"class="btn btn-primary"></a>{{ post.title }}</h2>
    <div>
        {{ post.body_html|safe }}
    </div>
    {% endfor %}
    {% if pagination %}
            {{ render_pagination(pagination) }}
        {% endif %}

    </div>
{% endblock %}

